In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_theme(style="whitegrid")
import plotly.express as px
import datetime
import pickle
%matplotlib inline


from imblearn.over_sampling import SMOTE
from collections import Counter

In [57]:
cases_state = pickle.load(open('pickle_files/cases_state.pkl', 'rb'))

In [58]:
cases_state.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9920 entries, 0 to 9919
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   date              9920 non-null   object
 1   state             9920 non-null   object
 2   cases_new         9920 non-null   int64
 3   cases_import      9920 non-null   int64
 4   cases_recovered   9920 non-null   int64
 5   cases_active      9920 non-null   int64
 6   cases_cluster     9920 non-null   int64
 7   cases_pvax        9920 non-null   int64
 8   cases_fvax        9920 non-null   int64
 9   cases_child       9920 non-null   int64
 10  cases_adolescent  9920 non-null   int64
 11  cases_adult       9920 non-null   int64
 12  cases_elderly     9920 non-null   int64
dtypes: int64(11), object(2)
memory usage: 1007.6+ KB

In [59]:
cases_state.head(5)

,date,state,cases_new,cases_import,cases_recovered,cases_active,cases_cluster,cases_pvax,cases_fvax,cases_child,cases_adolescent,cases_adult,cases_elderly
0,2020-01-25,Johor,4,4,0,4,0,0,0,0,0,1,0
1,2020-01-25,Kedah,0,0,0,0,0,0,0,0,0,0,0
2,2020-01-25,Kelantan,0,0,0,0,0,0,0,0,0,0,0
3,2020-01-25,Melaka,0,0,0,0,0,0,0,0,0,0,0
4,2020-01-25,Negeri Sembilan,0,0,0,0,0,0,0,0,0,0,0

In [60]:
from sklearn.cluster import KMeans

In [61]:
cases_state

,date,state,cases_new,cases_import,cases_recovered,cases_active,cases_cluster,cases_pvax,cases_fvax,cases_child,cases_adolescent,cases_adult,cases_elderly
0,2020-01-25,Johor,4,4,0,4,0,0,0,0,0,1,0
1,2020-01-25,Kedah,0,0,0,0,0,0,0,0,0,0,0
2,2020-01-25,Kelantan,0,0,0,0,0,0,0,0,0,0,0
3,2020-01-25,Melaka,0,0,0,0,0,0,0,0,0,0,0
4,2020-01-25,Negeri Sembilan,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9915,2021-10-05,Selangor,1348,5,1892,19140,102,111,825,191,94,878,109
9916,2021-10-05,Terengganu,356,0,563,7026,0,43,176,87,40,199,29
9917,2021-10-05,W.P. Kuala Lumpur,217,0,305,3471,0,15,146,39,13,144,21
9918,2021-10-05,W.P. Labuan,3,0,9,35,1,0,3,0,0,3,0
9919,2021-10-05,W.P. Putrajaya,23,0,33,413,0,3,16,4,2,17,0

In [62]:
df = cases_state.drop('date',axis=1)

In [63]:
df = pd.get_dummies(df,drop_first=True)

In [65]:
kmeans = KMeans(n_clusters=3, random_state=0).fit(df)

In [66]:
df['labels'] = kmeans.labels_

In [69]:
df['labels'].value_counts()

0    9274
2     589
1      57
Name: labels, dtype: int64