# Malaysia COVID-19 Cases and Vaccination

Data taken from [**Malaysia's Ministry of Health**](https://github.com/MoH-Malaysia/covid19-public) and [**COVID-19 Immunisation Task Force (CITF)**](https://github.com/CITF-Malaysia/citf-public) as of **`6-10-2021`** (cut-off date).

1. [covid19-public](https://github.com/MoH-Malaysia/covid19-public/tree/9a8482527c486effa37900756631f843af4d6373)
2. [citf-public](https://github.com/CITF-Malaysia/citf-public/tree/46f91d6e18e38a24034bf8f791cd279b31f94f24)

In [1]:
import pickle

cases_malaysia = pickle.load(open('cases_malaysia.pkl', 'rb'))

In [2]:
cases_malaysia

,date,cases_new,cases_import,cases_recovered,cases_active,cases_cluster,cases_pvax,cases_fvax,cases_child,cases_adolescent,cases_adult,cases_elderly,cluster_import,cluster_religious,cluster_community,cluster_highRisk,cluster_education,cluster_detentionCentre,cluster_workplace
0,2020-01-25,4,4,0,4,0,0,0,0,0,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-01-26,0,0,0,4,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-01-27,0,0,0,4,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-01-28,0,0,0,4,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-01-29,3,3,0,7,0,0,0,1,0,2,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
615,2021-10-01,11889,14,15891,160144,868,1475,6577,2081,921,7473,1277,0.0,6.0,439.0,22.0,8.0,0.0,393.0
616,2021-10-02,10915,7,15396,155578,656,1303,5882,1951,938,6756,1166,0.0,0.0,194.0,79.0,1.0,2.0,380.0
617,2021-10-03,9066,12,14454,150146,388,1119,4941,1700,764,5348,1087,0.0,1.0,224.0,17.0,1.0,5.0,140.0
618,2021-10-04,8075,6,15456,142746,731,1093,4282,1353,641,5050,948,0.0,5.0,73.0,25.0,8.0,7.0,613.0
619,2021-10-05,8817,14,15615,135945,619,1060,5105,1386,686,5624,1007,0.0,0.0,199.0,30.0,10.0,3.0,377.0